*,
html {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #fff;
}

html {
    background-color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cormorant Garamond', serif;
}

p {
    font-family: 'Jost', sans-serif;
    font-size: 18px;
}

div {
    max-width: 1440px;
    width: 100%;
}

/* header */
header {
    background-color: #000;
    padding: 20px 10px;
    position: relative;
}

header .row {
    display: flex;
    max-width: 1440px;
    width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

img#brand-logo {
    width: 80px;
}

header .col-2 {
    /* display: flex; */
    max-width: 56%;
    width: 100%;
    /* margin: auto; */
}

ul {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

li {
    color: #fff;
    list-style-type: none;
    font-size: 20px;
    margin: 20px;
}

header .col-3 {
    max-width: 20%;
    width: 100%;
}

li.nav-item:before {
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0px;
    width: calc(100% - 0px);
    height: 3px;
    background: #c8935f;
    content: "";
    transition: transform 0.2s ease;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: 0 0;
}

li.nav-item:hover:before {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

li.nav-item {
    position: relative;
}

li.nav-item {
    position: relative;
}

@media screen and (max-width: 700px) {

    header .col-2,
    header .col-3 {
        max-width: 100%;
        width: 100%;
    }

    header img#brand-logo {
        display: block;
        margin: 0 auto;

    }

    /* ul {
        flex-direction: column;
    } */
    header li {
        text-align: center;
    }

    header a {
        max-width: 19%;
        width: 100%;
        display: block;
        margin-right: auto;
    }

    header a.button {
        position: absolute;
        top: 14px;
        right: 9px;
        max-width: 129px;
        padding: 13px;
    }

    header li {
        margin: 10px;
    }

    header .row {
        gap: 5px;
    }
}



/* Hero */
#hero {
    background-image: url('./images//hero-img.png');
    min-height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: shrink 7s infinite alternate;
}

@keyframes shrink {
    0% {
        background-size: 110% 110%;
    }

    100% {
        background-size: 105% 105%;
    }
}

.button {
    display: block;
    color: #fff;
    text-align: center !important;
    margin: 0 auto;
    border: 1px solid #fff;
    max-width: 150px;
    width: 100%;
    padding: 20px;
    text-decoration: none;
}

#hero h1 {
    color: #fff;
    font-size: 60px;
    text-align: center;
    font-weight: 500;
}

#hero p {
    text-align: center;
    color: #fff;
    margin: 25px auto;
    font-size: 23px;
}

a.button:hover {
    background: #c8935f;
    color: var(--btn-color-hover);
    border-color: #c8935f;
    /* transition: width 2s linear 1s; */
    transition: background-color 1s;
    transform: translateY(12px);
    transition: transform 700ms;
}

span.colored-text {
    color: #c8935f;
}

#text-change:after {
    content: "";
    animation: spin 1s infinite;
}

@keyframes spin {
    0% {
        content: "Dining Experience ";
    }

    100% {
        content: "How do you like it?";
    }
}

/* About */

#about .row,
#services .row {
    display: flex;
    flex: 50% !important;
    margin: 0 auto;
    align-items: center;
}

#about .row img {
    width: 100%;
}

section#about {
    padding: 100px 50px;
}

.title {
    font-family: 'Cormorant Garamond', serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
}

p#about-para {
    font-size: 18px;
    max-width: 500px;
    margin: 20px 0;
    font-weight: 300;
}

p.colored-text {
    color: #c38f5d;
    font-size: 20px;
}

a.border-bottom {
    position: relative;
}

a.border-bottom:before {
    position: absolute;
    bottom: -5px;
    left: 0;
    display: block;
    width: 100%;
    height: 3px;
    background: #c38f37;
    content: "";
    transition: transform 0.2s ease;
    transform-origin: 100% 0;
}

a.border-bottom:hover:before {
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
}

/* Menu */
#menu .row {
    display: flex;
    max-width: 100%;
}

.menu-1,
.menu-2,
.menu-3 {
    display: flex;
    align-items: center;
}

#menu .col-1 {
    width: 68%;
    background-image: url(./images/19-GB764347.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.7;
}

.menu-img img {
    width: 100%;
    display: block;
    height: 100%;
    min-height: 260px;
    object-fit: revert;
}

.menu-desc {
    color: #000 !important;
    width: 50%;
}

.menu-desc h3,
.menu-desc p,
.menu-desc a {
    color: #000;
}

#menu .col-2 {
    background-color: #fff;
}

.menucol1-common {
    width: 50%;
}

.details {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

.menu-desc h3 {
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 0px;
}

.menu-desc p {
    font-size: 19px;
}

#price span {
    color: #c38637;
    font-weight: 500;
    font-size: 23px;
}

.menu-desc a.border-bottom {
    font-size: 22px;
}
/* Services  */
#services .row {
    flex-direction: column;
}

#services {
    background-image: url('./images/food.png.webp');
    padding: 100px 50px;
    opacity: 0.9;
}

#services .title {
    color: #000;
}

#services p {
    max-width: 656px;
    width: 100%;
    text-align: center;
    margin: 20px 0;
    color: #000;
}

#flaticon-diet:before,
#flaticon-delivery:before,
#flaticon-recipe:before {
    content: '\f2e7';
    font-family: 'fontawesome';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 52px;
    color: #b46060;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

span#flaticon-diet {
    text-align: center !important;
    display: block;
}

.main-services {
    display: flex;
    margin: 30px auto;
    justify-content: center;

}

.serv {
    width: 26%;
    text-align: center;
}

.serv h3 {
    margin: 20px 0;
}

#flaticon-delivery:before {
    content: '\f0d1';
}

#flaticon-recipe:before {
    content: '\f818';
}
/*  Contact  */
#contact {
    opacity: 0.9;
    padding: 100px 50px;
}

#contact .row {
    display: flex;
    gap: 30px;
    margin: 0 auto;
}

form {
    display: flex;
    margin: 30px 0;
    flex-direction: column;
}

input,
#adults,
#childrens {
    color: #fff;
    height: 42px;
    background-color: #000;
    margin: 10px 0;
}

#contact .col-2 {
    background-color: #000;
    padding: 0 30px;
}

.booking-time {
    display: flex;
    align-items: center;
    gap: 10px;
}

input#date,
input#time {
    max-width: 268px;
    width: 100%;
}

input#submit {
    background-color: #c38f48;
}
#contact img {
    width: 100%;
}
/* footer */
footer .row {
    display: flex;
    margin: 0 auto;
    gap: 30px;
}

footer ul {
    display: unset;
}

footer li {
    margin: 20px 0;
}

footer li.nav-item:before {
    content: none;
}

footer img {
    width: 100px;
}

a.social-icons,
.social {
    margin: 18px 10px 18px 0px;
}

.social-icons i {
    font-size: 26px;
}

footer span {
    color: #0101015c;
    font-weight: bold;
}

footer {
    background-color: #af8140;
    padding: 50px;
}

footer h2 {
    font-size: 32px;
}

footer .col-1,
footer .col-4 {
    width: 20%;
}

footer .col-2 {
    width: 10%;
}

footer .col-5 {
    width: 40%;
}



.contact-details {
    margin: 12px 0;
}

iframe {
    max-width: 520px;
    width: 100%;
    height: 300px;
}

/* Mesia queries */
@media only screen and (max-width: 1240px) {
    #contact img {
        width: 100%;
    }

    footer {
        padding: 50px 10px;
    }

    .details {
        width: 85%;
    }

    #menu .col-1 {
        width: 53%;
    }
}

@media only screen and (max-width: 768px) {
    
    /* #menu .row,
    #contact .row,
    footer .row {
        flex-wrap: wrap;
        justify-content: center;
    }

    #menu .col-1 {
        width: 100%;
        min-height: 800px;
        height: 100%;
        background-size: 100% 100%;
    } */

    footer .col-5 {
        width: 100%;
    }

    footer .col-1,
    footer .col-4 {
        width: 25%;
    }

    footer .col-2 {
        width: 10%;
    }
    

    li {
        margin: 14px;
    }

    .button {
        padding: 13px;
    }

    img#brand-logo {
        width: 70px;
    }

    .title {
        font-size: 45px;
    }

    #about .row {
        gap: 30px;
    }

    #services .row {
        gap: 0;
    }

    .main-services {
        gap: 22px;
    }

    .serv {
        width: 32%;
    }
}
@media only screen and (min-width:601px) and (max-width: 768px) {
    footer .col-3 {
        max-width: 17% !important;
    }
}
@media only screen and (min-width:800px) and (max-width: 1000px) {
    header li{
        font-size:17px;
    }
    #hero {
        min-height: 50vh;}
        footer .col-3 {
            width: 17%;
        }
        footer .col-1, footer .col-4 {
            width: 27%;
        }
        .serv {
            width: 33%;
        }
        input#date, input#time {
            max-width: 354px;
        }
}
@media only screen  and (max-width: 1000px) {
    #menu .row,
    #contact .row,
    footer .row {
        flex-wrap: wrap;
        justify-content: center;
    }

    #menu .col-1 {
        width: 100%;
        min-height: 800px;
        height: 100%;
        background-size: 100% 100%;
    } 
    iframe {
        max-width: 1240px !important;
        width: 100%;
    }
    #hero .row {
        padding: 25px;
    }
}
@media only screen and (max-width: 600px) {
    #hero {
        background-attachment: unset;
    }
    #hero h1 {
        font-size: 36px;
    }

    #hero .row {
        padding: 0 20px;
    }

    .title {
        font-size: 36px;
        line-height: 40px;
    }

    #about .row {
        flex-wrap: wrap;
    }

    #menu .col-1 {
        min-height: 500px;

    }

    .menucol1-common {
        width: 100%;
    }

    .menu-1,
    .menu-2,
    .menu-3 {
        flex-wrap: wrap;

    }

    .menu-1,
    .menu-3 {
        flex-direction: column-reverse;
    }

    section#about,
    #services,
    #contact {
        padding: 50px 30px;
    }

    .menu-desc {
        width: 100%;
    }

    .menu-desc {
        padding: 50px 0;
    }

    .serv {
        width: 100%;
    }

    .main-services {
        flex-wrap: wrap;
    }

    #contact .col-2 {
        padding: 0 0px;
    }

    #hero {
        min-height: 60vh;
    }
    
    footer .row {
        gap: 20px;
    }
    footer {
        padding: 50px 14px;
    }
    footer.row {
        max-width: 900px;
        width: 100%;
    }
    footer .col-1, footer .col-4, footer .col-2, footer .col-3 {
        width: 45% !important;
    }
    span.colored-text {
        font-weight: bold;
    }
}
@media only screen and (max-width: 390px) {
    header li{
        font-size:15.6px;
    }
}
@media only screen and (min-width: 1024px) {
    footer .col-3 {
        width: 12%;
    }  
    footer .row{
        gap:10px;
    }
}
